<header class="header">


  <!-- =========================================
       CLICKABLE LOCATION
  ========================================== -->

  <button
    type="button"
    class="location"
    (click)="openLocation()"
    aria-label="Change delivery location"
  >

    <!-- LOCATION ICON -->

    <span class="location-icon">
      📍
    </span>


    <!-- LOCATION INFORMATION -->

    <span class="location-info">

      <span class="deliver-label">
        Deliver to
      </span>


      <strong>
        {{ locationDisplayName }}
      </strong>

    </span>


    <!-- DROPDOWN ARROW -->

    <span class="arrow">
      ▾
    </span>

  </button>

<button class="btnlogout">Logout</button>
  <!-- =========================================
       NOTIFICATIONS
  ========================================== -->

  <button
    type="button"
    class="notification-button"
    (click)="openNotifications()"
    aria-label="Notifications"
  >

    🔔


    @if (notificationCount > 0) {

      <span class="notification-badge">
        {{ notificationCount }}
      </span>

    }

  </button>


</header>