<!-- =========================================
     CATEGORY CAROUSEL
========================================= -->

<div class="category-carousel">

  <!-- =======================================
       LEFT BUTTON
  ======================================== -->

  <button
    type="button"
    class="carousel-arrow left-arrow"
    (click)="scrollLeft()"
    aria-label="Scroll cuisines left"
  >
    ‹
  </button>


  <!-- =======================================
       SCROLLABLE CATEGORY LIST
  ======================================== -->

  <div
    #categoryList
    class="category-list"
  >

    <!-- =====================================
         LOADING
    ====================================== -->

    @if (isLoading) {

      <div class="category-status">
        Loading cuisines...
      </div>

    }


    <!-- =====================================
         ERROR
    ====================================== -->

    @else if (errorMessage) {

      <div class="category-status category-error">
        {{ errorMessage }}
      </div>

    }


    <!-- =====================================
         EMPTY
    ====================================== -->

    @else if (categories.length === 0) {

      <div class="category-status">
        No cuisines available.
      </div>

    }


    <!-- =====================================
         CATEGORY LIST
    ====================================== -->

    @else {

      @for (
        category of categories;
        track category.id
      ) {

        <button
          type="button"
          class="category-item"
          (click)="selectCategory(category)"
        >

          <!-- ===============================
               CATEGORY ICON
          ================================= -->

          <div class="category-image">

            <div class="category-image-placeholder">
              {{ getCategoryIcon(category.name) }}
            </div>

          </div>


          <!-- ===============================
               CATEGORY NAME
          ================================= -->

          <span class="category-name">
            {{ category.name }}
          </span>

        </button>

      }

    }

  </div>


  <!-- =======================================
       RIGHT BUTTON
  ======================================== -->

  <button
    type="button"
    class="carousel-arrow right-arrow"
    (click)="scrollRight()"
    aria-label="Scroll cuisines right"
  >
    ›
  </button>

</div>