<div class="location-page">

  <div class="location-card">

    <!-- =========================================
         ICON
    ========================================== -->

    <div class="location-icon">
      📍
    </div>


    <!-- =========================================
         TITLE
    ========================================== -->

    <h1>
      Where should we deliver?
    </h1>

    <p>
      Allow Foodie to use your location
      to find restaurants that deliver to you.
    </p>


    <!-- =========================================
         CURRENT LOCATION
    ========================================== -->

    <button
      type="button"
      class="location-button"
      [disabled]="isLoading"
      (click)="useCurrentLocation()">

      @if (isLoading) {

        Getting your location...

      } @else {

        📍 Use My Current Location

      }

    </button>


    <!-- =========================================
         MANUAL LOCATION
    ========================================== -->

    <button
      type="button"
      class="manual-button"
      (click)="openManualLocation()">

      Enter Location Manually

    </button>


    <!-- =========================================
         ERROR
    ========================================== -->

    @if (errorMessage) {

      <div class="error-message">

        {{ errorMessage }}

      </div>

    }


    <!-- =========================================
         MANUAL LOCATION FORM
    ========================================== -->

    @if (showManualLocation) {

      <div class="manual-location">

        <h3>
          Select your delivery location
        </h3>

        <p>
          Choose your city and area so we can
          find restaurants that deliver to you.
        </p>


        <!-- =====================================
             CITY
        ====================================== -->

        <label for="city">
          City
        </label>

        <select
          id="city"
          [(ngModel)]="selectedCity"
          (change)="selectedArea = ''">

          <option
            value=""
            disabled>

            Select your city

          </option>


          @for (
            city of cities;
            track city
          ) {

            <option
              [value]="city">

              {{ city }}

            </option>

          }

        </select>


        <!-- =====================================
             AREA
        ====================================== -->

        <label
          for="area"
          class="area-label">

          Delivery Area

        </label>

        <select
          id="area"
          [(ngModel)]="selectedArea">

          <option
            value=""
            disabled>

            Select your area

          </option>


          @for (
            area of areas;
            track area
          ) {

            <option
              [value]="area">

              {{ area }}

            </option>

          }

        </select>


        <!-- =====================================
             CONTINUE
        ====================================== -->

        <button
          type="button"
          class="continue-button"
          [disabled]="
            !selectedCity ||
            !selectedArea
          "
          (click)="saveManualLocation()">

          Continue

        </button>


        <!-- =====================================
             CANCEL
        ====================================== -->

        <button
          type="button"
          class="cancel-button"
          (click)="closeManualLocation()">

          Cancel

        </button>

      </div>

    }

  </div>

</div>